<div class="flex flex-col justify-center items-center">
<div>
    <p class="text-xl">{{post_title}}</p>
    <p>Created by: {{user.username}} on {{format_date date_created}}</p>
    <p>{{post_body}}</p>
</div>
{{#if logged_in}}
    <form class="new-comment-form" class="mb-3">
      <div class="mb-3">
        <label for="comment" class="form-label">Add Comment:</label>
        <textarea style="height: 250px; width: 350px;" id="new-comment" class="form-control"
        placeholder="Add a comment"
        ></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  {{/if}}
  <h2>Comments:</h2>
  {{#each comments}}
    <div class="comment mb-3">
      <p>{{comment_body}}</p>
      <p>By {{user.username}} on {{format_date date_created}}</p>
{{/each}}
</div>